button{
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    transition-property:transform ;
    transition-duration: .3s;
   margin-left: 1rem;
    

}
button:hover{
    transform: scale(1.1);
    background-color: azure;
    cursor: pointer;
   
}

.contenido{

    .contenido__boton{
        background-color: blueviolet;
    }
    h1{
        color: green;
    }

    
}


